@using Blog_JCF.Models
@using Microsoft.AspNet.Identity
@model BlogPost
    @{
        var backGroundImage = "/img/post-sample-image.jpg";
        if (Model.MediaUrl != null)
        {
            backGroundImage = Model.MediaUrl;
        }
    }
<header class="intro-header" style="background-image:url('@backGroundImage')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Html.DisplayFor(model => model.Title)</h1>
                    <h2 class="subheading">@Html.DisplayFor(model => model.Abstract)</h2>
                    <span class="meta">Posted by Caleb Fields on @Html.DisplayFor(model => model.Created)</span>
                </div>
            </div>
        </div>
    </div>
</header>

{
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
    </article>
}

<hr />
